<p id="notice"><%= notice %></p>

<h1>Listing Schools</h1>

<table class="index">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>City</th>
      <th>Zip</th>
      <th>Email</th>
      <th>Username</th>
      <th>Blog url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.id %></td>
        <td class="med"><%= school.name %></td>
        <td class="med"><%= school.city %></td>
        <td class="med"><%= school.zip %></td>
        <td class="med"><%= school.email %></td>
        <td class="med"><%= school.username %></td>
        <td class="large"><%= school.blog_url %></td>
        <td class="small"><%= link_to 'Show', school %></td>
        <td class="small"><%= link_to 'Edit', edit_school_path(school) %></td>
        <td class="small"><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School', new_school_path %>
