<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @school.street_number %>
</p>

<p>
  <strong>Route:</strong>
  <%= @school.route %>
</p>

<p>
  <strong>City:</strong>
  <%= @school.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @school.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @school.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @school.country %>
</p>

<p>
  <strong>Email:</strong>
  <%= @school.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @school.username %>
</p>

<p>
  <strong>Blog url:</strong>
  <%= @school.blog_url %>
</p>

<p>
  <strong>Password:</strong>
  <%= @school.password %>
</p>

<p>
  <strong>Description:</strong>
  <%= @school.description %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
